//COLORS

$color-body: #000;

$color-primary: #000;
$color-secondary: #858585;
$color-extra: #525525;
$color-blue: #0075ff;

$white: #ffffff;

//FONT FAMILIY

$heading-font: 'Source Code Pro', monospace;
$body-font: 'Epilogue', sans-serif;
