.l-sec-banner {
  .wrapper {
    padding: 0;
    p {
      width: 100%;
      display: block;
      text-align: left;
      max-width: 1000px;
      margin: 0 auto;
      font-size: 14px;
    }
    img {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
