.l-sec-testimonials {
  position: relative;

  .wrapper {
        &.flex {
          display: flex;
          flex-wrap: wrap;
          gap: 40px;
        }

      .testimonial {
        width: calc(50% - 20px) !important;
        @include medium {
          width: 100% !important;
        }
        p {
          margin-bottom: 30px;
          font-style: italic;
          line-height: 1.6;
        }
        .author {
          display: flex;
          align-items: center;
          figure {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin-right: 2rem;
            position: relative;
            @include large {
              height: 90px;
              width: 90px;
            }
            &::before {
              content: '';
              position: absolute;
              height: 100%;
              width: 100%;
              top: 2px;
              left: 2px;
              border: 2px solid #000;
              border-radius: 50%;
            }
            img {
              height: 100px;
              width: 100px;
              object-fit: cover;
              border-radius: 50%;
              // filter: grayscale(0.5);
              @include large {
                height: 90px;
                width: 90px;
              }
            }
          }
          article {
            h3 {
              margin-bottom: 10px;
              @include x-small {
                font-size: 20px;
              }
            }
          }
        }
      }
  }
}
